.course-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: white;
    box-shadow: 24px;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.course-modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.course-modal-box h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.course-modal-box p {
    font-size: 0.9rem;
    margin-top: 1rem;
}