/* =============== NAVBAR STYLES =============== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    color: red;
    padding: 0.4rem 2rem;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-panel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.notes, .login {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    align-items: center;
}


.notes, .login-btn{
    transition: 0.2s;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.notes:hover {
    color: var(--peach);
}

.login {
    background-color: var(--peach);
    border-radius: 50em;
    display: flex;
    align-items: center;
}

/* =============== MEDIA QUERIES =============== */