div[role="tabpanel"] {
    width: 100%;
    height: 100%;
}

div[role="tabpanel"] > div {
    height: 100%;
}

div[role="tabpanel"] > div > p {
    height: 100%;
}

.yearly-schedule {
    width: 100%;
    height: 100%;
}