@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --blue: #50e0ff;
    --darker-blue: #40d0ef;
    --peach: #ffe5b4;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}